Package: python3-simple-pid
Source: simple-pid
Version: 1.0.1-1
Architecture: all
Maintainer: unknown <unknown@unknown>
Installed-Size: 40
Depends: python3:any
Section: python
Priority: optional
Homepage: https://github.com/m-lundberg/simple-pid
Description: A simple, easy to use PID controller
 # simple-pid
 .
 [![Travis](https://travis-ci.com/m-lundberg/simple-pid.svg?branch=master)](https://travis-ci.com/m-lundberg/simple-pid)
 [![PyPI](https://img.shields.io/pypi/v/simple-pid.svg)](https://pypi.org/project/simple-pid/)
 [![Read the Docs](https://img.shields.io/readthedocs/simple-pid.svg)](https://simple-pid.readthedocs.io/)
 [![License](https://img.shields.io/github/license/m-lundberg/simple-pid.svg)](https://github.com/m-lundberg/simple-pid/blob/master/LICENSE.md)
 [![Downloads](https://pepy.tech/badge/simple-pid)](https://pepy.tech/project/simple-pid)
 [![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)
 .
 A simple and easy to use PID controller in Python. If you want a PID controller without external dependencies that just works, this is for you! The PID was designed to be robust with help from [Brett Beauregards guide](http://brettbeauregard.com/blog/2011/04/improving-the-beginners-pid-introduction/).
 .
 Usage is very simple:
 .
 ```python
 from simple_pid import PID
 pid = PID(1, 0.1, 0.05, setpoint=1)
 .
 # Assume we have a system we want to control in controlled_system
 v = controlled_system.update(0)
